<h1>Angular Basics</h1>
<app-posts></app-posts>
 <!-- <app-contact-formm></app-contact-formm>
 <br>
<app-zippy title="shipping Details">
    Shipping Details Context
</app-zippy>

<app-zippy title="Billing Details">
    Billing Details Context
</app-zippy>


 <app-custom-directive></app-custom-directive>
<app-ng-for></app-ng-for>

<app-ng-switch></app-ng-switch>
<p [attr.isActive]="post.title">So,Test</p>
<router-outlet></router-outlet>

<app-favorite-star [isActive]="post.isFavorite" (favTouch)="onFavChanged($event)"></app-favorite-star>

<app-like  [count] = "tweet.likeCount" [isSelected] = "tweet.isSelected">
</app-like>

<app-ng-if></app-ng-if> -->